p {
    font-family: 'Century Gothic';
}

h1 {
    font-family: 'Century Gothic';
    color: antiquewhite;
    align-items: center;
    justify-content: center;
}

#topbox {
    width: 100%;
    height: 90px;
    background-color: #333333;
    padding: 14%px;
}

#titlesubtext {
    font-family: 'Century Gothic';
    color: antiquewhite;
    font-size: 160%;
}